<!DOCTYPE html>
<html>
<head>
<title>Happy Cat</title>
<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Optional: Light background color */
  }
  img {
    max-width: 80%; /* Optional: Ensure image doesn't exceed page width */
    max-height: 80%; /* Optional: Ensure image doesn't exceed page height */
  }
</style>
</head>
<body>
    <div style="text-align: center;">
        <h1>Welcome 👋!</h1>
        <br/>
        <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExNmp6NG02cHgzYWxsenF3N25kNTd2bG9hdnFrbGZjdzlmdGl2Znd4bCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/lJNoBCvQYp7nq/giphy.gif" style="width: 600px; height:400px;" alt="Happy Cat">
    </div>
</body>
</html>